@import url('//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@font-face{
    font-family: Bahnsc;
    src: url("BAHNSCHRIFT.TTF");
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.alertstop{
    position: fixed;
    padding: 10px;
    width: calc((100vw - (100vw - 100%)) - 20px);
    height: fit-content;
    margin-left: -8px;
    z-index: 2;
}
.license{
    height: fit-content;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #fdff98;
    border-radius: 9px;
    box-shadow: 0px 0px 20px 0px #00000059;
    border: 1px solid #807300;
}
.closebutton{
    background-color: Transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 14px;
    margin-right: 14px;
}
.closebutton img{
    width: 13pt;
}
.closebutton:hover{
    cursor: pointer;
}
.licensecontent{
    display: inline-block;
}
.menu{
    height: fit-content;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 0px 20px 0px #00000059;
    margin-top: 12px;
    border: 1px solid gray;
}
.imglogo{
    vertical-align: middle;
    display: inline-block;
}
ul{
    list-style-type: none;
    float: right;
}
li{
    display: inline-block;
    font-family: Bahnsc, sans-serif;
    font-size: 90%;
    transition: font-size .2s;
}
li:hover{
    font-size: 14pt;
    transition: font-size .2s;
}
.content{
    box-sizing: border-box;
    overflow-x: hidden;
    width:calc(100% + 16px);
    margin-left: -8px;
    margin-top: -16px;
    background: url("Images/background.png") no-repeat center center;
    background-size: cover;
    border-radius: 0px 0px 9px 9px;
    box-shadow: inset rgba(16, 16, 16, 0.5) 0px 0px 45px 9px;
}
.space{
    line-height: 90px;
}
.cttwbib{
    color: black;
    margin-left: 3%;
    font-family: Bahnsc, sans-serif;
    font-size:500%;
    letter-spacing: 5px;
}
.content .cttwbib{
    color: white;
}
.right{
    text-align: right;
    margin-right: 2%;
}
.center{
    text-align: center;
    margin: 100px 0 -75px 0;
}
.pyspikontext {
    position: relative;
    font-size: 15pt;
    z-index: 1;
}
.mindeditortext {
    position: relative;
    font-size: 15pt;
    z-index: 1;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 5px solid black;
    transition: border-bottom .4s;
}

#imgev3{
    background: url("Images/ev3andpencil.png") no-repeat center center;
    background-size: contain;
    height: 500px;
    margin-top: 60px;
    position: relative;
    z-index: -2;
    width: 400px;
    transition: background-image .2s;
}
#imgspike {
    background: url("Images/snakeandspike.png") no-repeat center center;
    background-size: contain;
    height: 345px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -2;
    display: block;
    width: 400px;
    transition: background-image .2s;
}
#imgabstract{
    background: url("Images/abstracte.png") no-repeat center center;
    background-size: contain;
    height: 200px;
    margin-top: 60px;
    position: relative;
    z-index: -2;
    width: 200px;
    transition: background-image .2s;
}
#imgs{
    display: inline-flex;
    align-items: center;
    font: 90pt Bahnsc;
}
#centerimgs{
    text-align: center;
}
.downloads{
    display: grid;
}
.downloads > div{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #00000059;
}
.downloads img{
    width: 100px;
}
.btndown{
    font-size: 20pt;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border: #1463b0 solid 1px;
    box-shadow: 0px 0px 10px 0px #00000059;
    float: right;
}
.btndown:hover{
    border: #1463b0 solid 1px;
}
#content{
    display: inline-block;
}
